body {
    font-family: 'Raleway', sans-serif;
    background-color: #85c8c9; /* Fondo morado pastel */
    color: black; /* Texto en negro */
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    display: flex; /* Habilita el uso de Flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

/* Estilo para el recuadro azul pastel */
.menu {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu img.titulo-imagen {
    width: 100px; /* Tamaño de la imagen */
    margin-bottom: 20px; /* Espacio entre la imagen y el título */
}

.menu h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    background-color: #007BFF;
    padding: 10px 20px 10px 50px; /* Espacio para la imagen */
    border-radius: 5px;
    display: block; /* Hace que el enlace ocupe todo el ancho del li */
    transition: background-color 0.3s ease;
    position: relative; /* Para posicionar la imagen */
}

.menu ul li a img {
    width: 24px; /* Tamaño de la imagen dentro del botón */
    height: 24px;
    position: absolute;
    left: 15px; /* Posición de la imagen dentro del botón */
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente la imagen */
}

.menu ul li a:hover {
    background-color: #0056b3;
}