/* Estilos generales (que aplican a todas las páginas) */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddadd;
}

.contenedor {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #dda0dd; /* Recuadro morado pastel */
    border-radius: 15px; /* Bordes redondeados */
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imagen {
    width: 300px; /* Tamaño fijo para todas las imágenes */
    height: 300px; /* Mantiene las proporciones de la imagen */
    object-fit: cover; /* Asegura que las imágenes no se deformen */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
    font-size: 2em; /* Tamaño de texto común */
}

ul {
    list-style-type: none; /* Sin viñetas */
    padding-left: 0;
    text-align: center;
}

ul li {
    font-size: 1.5em; /* Tamaño de los elementos de la lista */
    margin: 10px 0;
}

/* Estilos específicos para la página principal */
.pagina-inicio .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #dda0dd; /* morado pastel */
}

.pagina-inicio .imagenes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pagina-inicio .imagen-lado {
    width: 300px; /* Tamaño de las imágenes en la página principal */
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagina-inicio .contenido {
    text-align: center;
    flex-grow: 1;
    margin: 0 40px;
}

.pagina-inicio h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.pagina-inicio nav ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Aseguramos que los enlaces estén centrados */
}

.pagina-inicio nav ul li {
    margin: 10px 0;
}

.pagina-inicio nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.3em;
}

.pagina-inicio nav a:hover {
    color: #ddadd;
}
